@import url('https://fonts.googleapis.com/css?family=Butcherman&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background-image: url(../assets/Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Butcherman', cursive;
}

.score {
    width: 940px;
    height: 50px;
    background-color: rgb(172, 48, 69);
    text-align: center;
    font-size: 1.75rem;
    color: white;
}

/* THIS IS THE CARDS SECTION */

#Intro {
    width: 1120px;
    height: 630px;
    margin: auto;
    position: absolute;
    background-color: rgb(172, 48, 69);
    z-index: 1;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 1.75rem;
    color: white;
}

.optionBtn {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background-color: rgb(172, 48, 69);
    z-index: 2;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 1.75rem;
    color: white;
}

#startGame {
    background-color: rgb(212, 55, 81);
    border: none;
    padding: 15px 32px;
    margin: 5px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 1.75rem;
    color: white;
    border-radius: 10px;
}

.container {
    width: 1140px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    padding-bottom: 60px;
    padding-left: 10px;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(53, 0, 0), 0 0 0.2em rgb(53, 0, 0);
    -webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
    background-color: rgb(172, 48, 69);
    border: 3px solid rgb(119, 25, 41);
    box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.75);
}

.memoryCard {
    width: calc(16.5% - 10px);
    height: calc(33.33% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: flat;
    transition: transform .5s;
    transform-style: preserve-3d;
}

.memoryCard:active{
    transform: scale(.97);
    transition: transform .2s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: rgb(221, 131, 14);
}

.memoryCard.flip {
    transform: rotateY(180deg);
}

.front-face, 
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

#gameover {
    display: none;
    position: absolute;
    width: 1140px;
    height: 640px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 7rem;
    color: rgb(161, 26, 26);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(53, 0, 0), 0 0 0.2em rgb(53, 0, 0);
    z-index: 1;
}

#victory {
    display: none;
    position: absolute;
    width: 1140px;
    height: 580px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    font-size: 7rem;
    color: rgb(221, 131, 14);
    text-shadow: 1px 1px 2px orange, 0 0 0.5em rgb(117, 48, 2), 0 0 0.2em rgb(117, 48, 2);
    z-index: 1;
}